<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= header %></p>

      <ul>
       <%for(let i=0 ; i < content.length; i++){%>
         <li><%= content[i].name;%>
           <%= "- " + content[i].status;%>
         </li>
         <%}%>
       </ul>
       <div class="buttonDiv">
         <form class="removePost" action="/delete" method="get">
           <button type="submit" name="button">Remove Post</button>
         </form>

       </div>


  </body>
</html>
